body {
    background-image: url("../images/ice.png");
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: #cccccc;

}

h1 {
    text-align: center;
    color: navy;
}

.button {
    background-color: black;
    border: 1px white solid;
    color: white;
    padding: 25px 80px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
  }

  .buttonDiv {
    text-align: center;
  }

.questionBox {
    
    background-color: rgb(255, 255, 255, 55%);
    border-radius: 25px;
    min-height: 350px;
    width: auto;
    text-align: center;
    padding-top: 2%;
}



.jumbotron {
    background-color: rgb(255, 255, 255, 55%);
}


.question {
font-size: 35px;
color: navy;
margin-bottom: 25px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonAnswer {
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 45px;
}

#time {
    font-size: 25px;
}

h2 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: red; 
}